@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekanBakh;
  src: url(../public/fonts/YekanBakh.ttf);
}

* {
  font-family: yekanBakh;
}

.plyr--video {
  border-radius: 0.5rem !important;
  overflow: hidden;
}
